 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #5D585B;
active-foreground: #E7D0BC;
normal-background: #2D2128;
normal-foreground: #E7D0BC;
urgent-background: #5E5E5E;
urgent-foreground: #E7D0BC;

alternate-active-background: #833338;
alternate-active-foreground: #E7D0BC;
alternate-normal-background: #2D2128;
alternate-normal-foreground: #E7D0BC;
alternate-urgent-background: #2D2128;
alternate-urgent-foreground: #E7D0BC;

selected-active-background: #5E5E5E;
selected-active-foreground: #E7D0BC;
selected-normal-background: #5E5E5E;
selected-normal-foreground: #E7D0BC;
selected-urgent-background: #5D585B;
selected-urgent-foreground: #E7D0BC;

background-color: #2D2128;
background: rgba(0,0,0,0.7);
foreground: #E7D0BC;
border-color: #5D585B;

color0: #53474F;
color1: #3F2034;
color2: #3F2235;
color3: #62262A;
color4: #464244;
color5: #464646;
color6: #8B5A2F;
color7: #D4B397;
color8: #947D69;
color9: #532A45;
color10: #542D46;
color11: #833338;
color12: #5D585B;
color13: #5E5E5E;
color14: #BA783F;
color15: #D4B397;


}

