
.modules-right{
    padding-right: 70px;
}
.modules-left{
    padding-right: 70px;
}

.wlr-taskbar {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid @color7;
    background: @color12;
}
#wlr-taskbar {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid @color7;
    background: @color12;
}
